
.Amount {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Amount > input {
    width: 70%;
    padding: 10px 5px;
    border: none;
    background-color: transparent;
    border-bottom: 2px dotted var(--secondary);
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    color: var(--secondary);
}

.Amount > input:focus {
    outline: none;
}

.Category {
    /* padding: 10px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Category > div {
    font-size: 0.6rem;
    color: var(--secondary);
}

.Category > select {
    background-color: var(--primary);
    border-radius: 5px;
    padding: 10px;
    border: none;
    font-size: 1.25rem;
    outline: none;
    color: var(--secondary);
}

.Category > select:active, .Category > select:focus {
    outline: none;
    border: none;
    /* background-color: var(--secondary-25); */
}

.Category > select > option {
    /* color: azure; */
    /* background-color: transparent; */
    background-color: var(--primary);
}

.Category > select > option:active {
    background-color: var(--primary);
}

.SubmitBtn {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.SubmitBtn > button {
    width: 90%;
    height: 90%;
    border-radius: 10px;
    border: 2px solid var(--secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary);
    color: var(--background);
    transition-property: color, background-color;
    transition-duration: 200ms;
}

.SubmitBtn > button:hover {
    color: var(--secondary);
    background-color: var(--primary);
}